/* #sockcat {
  width: 300px;
  height: 450px;
  /* border: 2px solid black; */
  /* text-align: center;
  border: black solid 1px;
  background-color: green;
  margin-left: 0px;
}

.changingimg {
  width: 300px;
  height: 350px;
}
 */ */

