body {
  background-image: url('/image/socks.jpg');
  /* background-size: cover; */
  background-size: 100%;
  height: 1700px;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

a {
  font-size: 30px;
}
