<div id="sockcat">
  <div class="container">
    <div class="img">
      <div>
        <a href=""><img class="changingimg" src="/image/images.jpeg">
        </a>
      </div>
      <div class="title">{{nameSock}}</div>
      <div class="price">{{price}}</div>
      <form action="/constructor" method="post">
      <select>Size</select>
      <select>Count</select>
      <button type="submit">Купить</button>
      </form>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/style/catalog.css">








  {{!-- <div id="constpic">
    <img src="/image/shablon.jpg">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.1.0/fabric.min.js"
      integrity="sha512-T9uV3LxV54oKVYSwORGeHdJ1Ti0WcQvDjAaTvMS6+qfrI5ZRzwxfXVzr7fqodTjfZ6wtbreT5A+65ykwbp4DOw=="
      crossorigin="anonymous"></script>
    <canvas id="c" width="700" height="1000"></canvas>
    <svg top="500px" height="100" width="100">
      <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="none" />
    </svg>
    <script>
      const canvas = new fabric.Canvas('c');
      fabric.Image.fromURL('https://souvenirs-nn.ru/wp-content/uploads/2019/06/khokhloma-e1481297441689.png',
        function (img) {
          img.scale(0.5).set({
            left: 150,
            top: 150,
            angle: -15
          });
          canvas.add(img).setActiveObject(img);
        }); --}}
    {{!-- </script> --}}
