<div id="sockcat">
  <div class="test">
    <div class="img">
      <div>
        <a href=""><img class="changingimg" src="/image/images.jpeg">
        </a>
      </div>
      <div class="title">Название</div>
      <div class="price">Цена</div>
      <button type="submit">Создать свой дизайн</button>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/style/catalog.css">
