<div id="sockcat">
  <div class="container">
    <div class="img">
      <div>
        <a href=""><img class="changingimg" src="/image/images.jpeg">
        </a>
      </div>
      <div class="title">Название</div>
      <div class="price">Цена</div>
      <form action="/constructor" method="post">
      <select>Size</select>
      <select>Count</select>
      <button class="designbtn"type="submit">Создать свой дизайн</button>
      </form>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/style/catalog.css">
