<link rel="stylesheet" href="/style/constructor.css">
<div class="homebtns">
  <div>
    <form method="post" action="/Catalog">
      <button class="button25">Catalog</button>
    </form>
  </div>
  <div>
    <form method="post" action="/Constructor">
      <button class="button25">Constructor</button>
    </form>
  </div>
</div>
