<link rel="stylesheet" href="/style/constructor.css">
<div class="homebtns">
  <div>
    <form method="post" action="/Constructor">
      <button class="button25">Constructor</button>
    </form>
  </div>
    <div>
    <form method="post" action="/Constructor2">
      <button class="button25">Alternative</button>
    </form>
  </div>
</div>
