<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="/style/layout.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socks</title>
  <header>
    <div>
    <nav id="navigation">
    <div id="logo"><a href="/"><img id="logopic" src="/image/socks-1453862-1229330.png"></a></div>
    <div class="d6">
      <form action="/catalog" method="post">
        <input name="search" placeholder="Search" type="search">
        <button type="submit"></button>
      </form>
    </div>
   <div>
   <form method="post" action="/about">
   <button class="loginbutton">
     Контакты
   </button>
   </form>
   </div>
   <div>
   <form method="post" action="/liked">
   <button class="loginbutton">
     Избранное
   </button>
   </form>
   </div>
    <div>
   <form method="post" action="/basket">
   <button class="loginbutton">
     Корзина
   </button>
   </form>
   </div>
   <div>
   <form method="post" action="/profile">
   <button class="loginbutton">
     Войти
   </button>
   </form>
   </div>
   </nav>
   </div>
  </header>
</head>
<body>
  {{{body}}}
</body>
  <footer id="footer">
   <div class="contacts"><a href="">+12434554455</a></div>
   <div id="about"><a href="">About us</a>
   <h4>Created by Elbrus Bootcamp, 2020. All rights reserved.</h4>
   </div>
   </footer>
</html>
