<div>
  <form method="post" action="">
  <table>
    <thead>
      <tr>
        <td>Название</td>
        <td>Количество</td>
        <td>Цена</td>
      </tr>
    </thead>
    <tbody>
      <tr>Товар</tr>
    </tbody>
  </table>
  </form>
</div>
